<!DOCTYPE html>
<html>
    <head>
        <title>Scrabble</title>
    </head>
    <body>
        <form action="/run" method="post">
            <h3>Scrabble-Checker!</h3>
            <label for="word">Enter a word:</label>
            <input type="text" name="word" id="word">

            <button type="submit" name="button">Check!</button>
        </form>
    </body>
</html>
